{% extends 'satfd/dashboard/partials/base.html' %}
{% block title %}{{header}}{% endblock %}

{% block content %}

{% load static %}
<!-- [ Main Content ] start -->
  <section class="pcoded-main-container">
      <div class="pcoded-wrapper">
          <div class="pcoded-content">
              <div class="pcoded-inner-content">
                  <!-- [ breadcrumb ] start -->
                  <div class="page-header">
                      <div class="page-block">
                          <div class="row align-items-center">
                              <div class="col-md-12">


                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- [ breadcrumb ] end -->
                  <div class="main-body">
                      <div class="page-wrapper">
                          <!-- [ Main Content ] start -->
                          <div class="row">

                            <!-- [ Typography ] start -->

                               <div  class="col-sm-12">
                                 <div class="card">
                                     <div class="card-header" style="background-color:red ;">
                                         <h3 style="color: white;">{{title}}</h3>
                                     </div>
                                     <div class="card-body">
                                       <form>
                                         {% for field in form %}
                                         <dl class="dl-horizontal row">
                                           {% if field.field.required %}
                                           <dt class="col-sm-3">{{ field.label }}</dt>
                                           <dd class="col-sm-9">{{ field.initial }}</dd>
                                           {% endif%}
                                        </dl>
                                         {% endfor %}
                                       </form>

                                            <form class=""  method="POST">
                                              {% csrf_token %}
                                              <a href="{% url 'dashboard-satfd-personne-afficher' %}"  class="btn btn-primary btn-sm">Annuler</a>
                                              <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                            </form>

                                       </div>
                                   </div>
                               </div>
                               <!-- [ Typography ] end -->


                          </div>
                          <!-- [ Main Content ] end -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- [ Main Content ] end -->

{% endblock %}
